<header>
    <nav id="menu">
        <div class="menu-logo">
            <h1 class="menu-logo__text">Portfolio</h1>
        </div>

        <div class="menu-burger" (click)="toggleMenu()">
            <span class="burger" [ngClass]="toggle ? 'close' : ''"></span>
            <ul class="menu-main" [ngClass]="toggle ? 'menuMainOpen' : ''">
                <li><a [routerLink]="['/']"  routerLinkActive="active-link" class="menu-main__items">Home</a></li>
                <li><a [routerLink]="['/projects']"  routerLinkActive="active-link" class="menu-main__items">Projects</a></li>
                <li><a [routerLink]="['/contacts']"  routerLinkActive="active-link" class="menu-main__items">Contact me</a></li>
            </ul>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>