<section class="s1 sec">
    <p>Hello!<br/> My name is Dmitriy.<br/> I`m a Web Developer.</p>
    
    <ul class="contacts">
        <li class="contact-list">
            <a href="mailto:134.2.zto@gmail.com" class="con-list__item">
                Gmail
            </a>
        </li>
        <li class="contact-list">
            <a href="tel:+380680169573" class="con-list__item">
                Phone number
            </a>
        </li>
        <li class="contact-list">
            <a href="#" class="con-list__item">
                @I_am_Nemo - Telegram
            </a>
        </li>
    </ul>
</section>