$sriracha: 'Sriracha', cursive;


.s1 {
    background: #000;
    height: 100vh;
    svg {
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translate(70%, -10%) rotateY(180deg) rotateZ(20deg);
    }

    p {
        position: absolute;
        top: 40%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        font-family: $sriracha;
        color: transparent;
        text-shadow: 0px 0px 4px #ff8a65, 5px 5px 2px #3d5afe, -5px -2px 2px #00e676;
        animation: crt-me 3s infinite ease-in-out;
    }
}

#moon {
    animation: moonR 10s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#stars {
    animation: starsBlink 1s infinite ease-in-out;
    fill: #E6E6E6;
}
#stars2 {
    animation: starsBlink2 1s infinite ease-in-out;
    fill: #E6E6E6;
}
#stars3 {
    animation: starsBlink3 1s infinite ease-in-out;
    fill: #E6E6E6;
}
#stars4 {
    animation: starsBlink4 1s infinite ease-in-out;
    fill: #E6E6E6;
}
#stars5 {
    animation: starsBlink5 1s infinite ease-in-out;
    fill: #E6E6E6;
}
#stars6 {
    animation: starsBlink6 1s infinite ease-in-out;
    fill: #E6E6E6;
}

#rounded-stars {
    animation: starsR 1s infinite ease-in-out;
    fill: #6C63FF;
}
#rounded-stars2 {
    animation: starsR2 1s infinite ease-in-out;
    fill: #6C63FF;
}
#rounded-stars3 {
    animation: starsR3 1s infinite ease-in-out;
    fill: #6C63FF;
}

@keyframes moonR {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes starsBlink {
    50% {
        fill: #6C63FF;
    }
}
@keyframes starsBlink2 {
    50% {
        fill: #393764;
    }
}
@keyframes starsBlink3 {
    50% {
        fill: #d7e428;
    }
}
@keyframes starsBlink4 {
    50% {
        fill: #e62dc7;
    }
}
@keyframes starsBlink5 {
    50% {
        fill: #cc2851;
    }
}
@keyframes starsBlink6 {
    50% {
        fill: #e73737;
    }
}

@keyframes starsR {
    50% {
        fill: #E6E6E6;
    }
}
@keyframes starsR2 {
    50% {
        fill: #a00b0b;
    }
}
@keyframes starsR3 {
    50% {
        fill: #4ed325;
    }
}

@keyframes crt-me {
    0%,40%, 44%, 58%, 61%, 65%,69%,73%,100% {
        transform: skewX(0deg);
   }
   41%{
    transform: skewX(10deg);
  }
  42%{
    transform: skewX(-10deg);
  }
  59%{
    transform: skewX(40deg) skewY(10deg);
  }
  60%{
    transform: skewX(-40deg) skewY(-10deg);
  }
  63%{
    transform: skewX(10deg) skewY(-5deg);
  }
  70%{
    transform: skewX(-50deg) skewY(-20deg);
  }
  71%{
    transform: skewX(10deg) skewY(-10deg);
  }
   
}